.modal {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.75);
  padding-top: 243px;
}

.content-modal {
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: space-between;
  height: 200px;
  width: 80%;
}

.header-modal {
  font-size: 20px;
  background-color: blueviolet;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

.body-modal {
  color: black;
  text-align: left;
  padding: 20px;
}

.footer-modal {
  display: flex;
  justify-content: end;
  padding: 0 15px 10px 0;
}