.card {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 2rem auto;
  width: 80%;
}
