.list {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.list p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  border: 1px solid gray;
  padding: 10px 5px;
  margin: 0 0 10px 0;
}